body {
  margin: 0;
  font-family: 'Signika', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tituloModalDetalle h2{
  text-align: center;
  font-family: 'Signika';
  color:#85c24d;
}

.labelDetalle{
  color:rgba(156, 155, 155, 0.589);
}

.imgDetalle{
  width: 100%;
  height: 100%;
}
.tituloDetalle{
  color:black;
}
.MuiDataGrid-root{
  font-family: 'Signika' !important;
}

.MuiPaper-root{
  padding: 15px;
}

@font-face {
  font-family: Signika-Bold;
  src: url(fonts/static/Signika-Bold.ttf);
}

@font-face {
  font-family: Signika;
  src: url(fonts/static/Signika-Regular.ttf);
}
